@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #4c566a;
  letter-spacing: 2px;
  position: relative;
  transition: all .35s;
  border-radius: 25px;
  cursor: pointer;
  padding: 0 30px;
}
button a{
  text-decoration: none;
  color: #333;
}
button span{
  position: relative;
  z-index: 2;
}

button:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  opacity: 0;
  background: #a7cc62;
  transition: all .35s;
  border-radius: 25px;
}

button a:hover{
  color: #fff;
  transition: all .35s;
}

button:hover:after{
  width: 100%;
  opacity: 1;
}

@media screen and (max-width: 768px){
  button p{
    display: none;
  }
}


p, h1, h2, h3, h4{
  margin: 0 0 10px 0;
}

h2, h3, h4{
  color: #696969;
}

a{
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
video{
  width: 100%;
}